<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <import resource="persistence-${spring.profiles.active}.xml"/>

    <bean id="productRowMapper" class="com.obolonyk.onlineshop.dao.jdbc.rowmapper.ProductRowMapper"/>
    <bean id="userRowMapper" class="com.obolonyk.onlineshop.dao.jdbc.rowmapper.UserRowMapper"/>

    <bean id="jdbcTemplate" class="com.obolonyk.jdbctemplate.JDBCTemplate">
        <constructor-arg>
            <ref bean="dataSource"/>
        </constructor-arg>
    </bean>

    <bean id="jdbcProductDao" class="com.obolonyk.onlineshop.dao.jdbc.JdbcProductDao">
        <property name="productRowMapper" ref="productRowMapper"/>
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="jdbcUserDao" class="com.obolonyk.onlineshop.dao.jdbc.JdbcUserDao">
        <property name="userRowMapper" ref="userRowMapper"/>
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="productService" class="com.obolonyk.onlineshop.services.ProductService">
        <property name="jdbcProductDao" ref="jdbcProductDao"/>
    </bean>

    <bean id="userService" class="com.obolonyk.onlineshop.services.UserService">
        <property name="jdbcUserDao" ref="jdbcUserDao"/>
    </bean>

    <bean id="securityService" class="com.obolonyk.onlineshop.web.security.service.DefaultSecurityService">
        <property name="duration" value="${web.session.time-to-live}"/>
        <constructor-arg>
            <ref bean="userService"/>
        </constructor-arg>
    </bean>

    <bean id="cartService" class="com.obolonyk.onlineshop.services.CartService"/>

</beans>