<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jdbcProductDao" class="com.obolonyk.onlineshop.dao.jdbc.JdbcProductDao">
    </bean>
    <bean id="jdbcUserDao" class="com.obolonyk.onlineshop.dao.jdbc.JdbcUserDao">
    </bean>
    <bean id="productService" class="com.obolonyk.onlineshop.services.ProductService">
        <property name="jdbcProductDao" ref="jdbcProductDao"/>
    </bean>
    <bean id="userService" class="com.obolonyk.onlineshop.services.UserService">
        <property name="jdbcUserDao" ref="jdbcUserDao"/>
    </bean>
    <bean id="securityService" class="com.obolonyk.onlineshop.web.security.service.DefaultSecurityService">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="cartService" class="com.obolonyk.onlineshop.services.CartService">
    </bean>
</beans>